
body{

    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
nav  {

    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{

   color: #181818;
   font-size: 45px;
   font-weight: 800;
}
.text-or{
    color:#FD6E0A;
}
nav > ul{

display: flex;
align-items: center;
}
nav li{

    list-style: none;
    margin-right: 50px;
}
.btn-pr{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: #fff;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 600;
}
.header{
    background-image: url('../images/header_bg.png'); 
    background-color: #FFF8F3;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{

    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.banner-content{

   max-width: 500px; 
}
 .banner .profile-pic{

    
    width: 582px;

}
.h3{

    font-size: 40px;
    color: #474747;
    margin-bottom: 10px;
}
.h1{

    font-size: 80px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}
.about{

    padding: 130px;
    border-radius: 10px;
    background-color: #fff8f3;
    margin: 130px 0;
 
}
.section-title{

   color: #267b79;
   text-align: center;
   font-size: 35px;
   font-weight: 700;
   text-shadow: 2px 2px #16bc93;

}
.sec-info{
    
   color: #1e1e1e;
   font-size: 18px;
   text-align: center;
   text-shadow:2px 2px rgb(205, 205, 168);


}
main{


   max-width: 1140px;
   margin: 0 auto;
}
main section{
    margin-top: 130px;
}
.about-contain{

    display: flex;
    justify-content: space-around;
}
.about-info{

   text-align: center;
   
}
#what-do-des{

    padding: 30px 150px;
}
.skill-cointainer{

    display: flex;
    gap: 24px;
}
.skill{

    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(243, 233, 233, 0.6);
    background: #FFFFFF;
}
.skill-des{

    color: #757575;
}
.resume-column-title{

    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-cointainer{

    display: flex;
    gap: 50px;
}
.resume-item-istitute{

  margin-bottom: 20px;
  margin-top: 0px;

}
.resume-item-title{

    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-description,.resume-item-institute{
    color: #757575;

}
.resume-cointainer hr{
    margin: 30px;
}
.download-cv{

    text-align: center;
    margin-top: 50px;
    
}

    

footer{
    display: flex;
    margin-top: 100px;
    display: flex;
    background: #fff8f3;
    padding: 130px 200px;
    gap: 100px;
}
.footer-column{

    width: 50%;
    .social-links a{
         margin-right: 25px;

    }
}
.contact input, textarea{

    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    
}
#sub{

    color:#fff;
}

