
body{

    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
nav  {

    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{

   color: #181818;
   font-size: 45px;
   font-weight: 800;
}
.text-or{
    color: orange;
}
nav > ul{

display: flex;
align-items: center;
}
nav li{

    list-style: none;
    margin-right: 50px;
}
.btn-pr{
    border-radius: 5px;
    background-color: orange;
    border: 0;
    color: #fff;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 600;
}
.header{
    background-image: url('../images/header_bg.png'); 
    background-color: #FFF8F3;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{

    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.banner-content{

   max-width: 500px; 
}
 .banner .profile-pic{

    
    width: 582px;

}
.h3{

    font-size: 40px;
    color: #474747;
    margin-bottom: 10px;
}
.h1{

    font-size: 80px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}
.about{

    padding: 130px;
    border-radius: 10px;
    background-color: #fff8f3;
    margin: 130px 0;
}
.section-title{

   color: #181818;
   text-align: center;
   font-size: 35px;
   font-weight: 700;

}
.sec-info{
    
   color: #1e1e1e;
   font-size: 18px;
   text-align: center;


}
